.v-scrollbar {
  overflow-y: auto;
  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 5px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 5px;
  }
  /*滚动条里面小方块*/
  &::-webkit-scrollbar-thumb {
    // box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #44aec4;
  }
  /*滚动条里面轨道*/
  &::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #ccc;
  }
}

.img-fill {
  object-fit: fill;
}
.img-contain {
  object-fit: contain;
}
.img-cover {
  object-fit: cover;
}
.img-scale-down {
  object-fit: scale-down;
}
.img-none {
  object-fit: none;
}